[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"
yapf = "*"
jedi = "*"

[packages]
logzero = "*"
pydantic = "*"
<%_ if (rabbitmq) { _%>
pika = "*"
<%_ } _%>
<%_ if (redis) { _%>
redis = "*"
<%_ } _%>
<%_ if (aioredis) { _%>
aioredis = "*"
<%_ } _%>
<%_ if (mysql) { _%>
pymysql = "*"
<%_ } _%>
<%_ if (cassandra) { _%>
cassandra-driver = "*"
<%_ } _%>
<%_ if (requests) { _%>
requests = "*"
<%_ } _%>
<%_ if (fastapi) { _%>
fastapi = "*"
uvicorn = "*"
<%_ } _%>

[requires]
python_version = "3.7"

[scripts]
lint = "pylint **/*.py --rcfile=setup.cfg"
test = "pytest -s tests"
<%_ if (fastapi) { _%>
dev = "uvicorn main:app --reload"
app = "uvicorn main:app --host 0.0.0.0 --port 5000"
<%_ } else { _%>
app = "python main.py"
<%_ } _%>
