[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"
yapf = "*"
jedi = "*"

[packages]
logzero = "*"
pydantic = "*"
<% if (redis) { %> redis = "*" <% } %>
<% if (aioredis) { %> aioredis = "*" <% } %>
<% if (pymysql) { %> pymysql = "*" <% } %>
<% if (cassandra_driver) { %> cassandra-driver = "*" <% } %>
<% if (fastapi) { %> fastapi = "*" <% } %>

[requires]
python_version = "3.7"

[scripts]
test = "pytest -s tests"
